@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using MyApp.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    var user = UserManager.GetUserAsync(User).Result;
    var firstName = string.Empty;
    var lastName = string.Empty;
    if (user != null)
    {
        firstName = user.FirstName;
        lastName = user.LastName;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">MyApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hello, @firstName @lastName!</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm">
                                <button type="submit" class="btn btn-link nav-link" style="cursor:pointer;">Logout</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-area="UserProfile" asp-page="Index" method="post" id="logoutForm">
                                <button type="submit" class="btn btn-link nav-link" style="cursor:pointer;">UserProfile</button>
                            </form>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Admin")">Admin</a>
                            </li>
                        }

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MyApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

